First Session

In [1]:
# Variable Naming Example
a = 12

# perform calculation with a formula
answer = (a*2) + (a*5)
print(a)
print(answer)
type(answer)

a = 8
answer = (a*2) + (a*5)                          # without this, your previous 'answer' would be repeated
print("After assgining a new value for a :",a)
print(answer)

12
84
After assgining a new value for a : 8
56

In [2]:
# Defining and changing/converting variable data types

x = "12"
print(type(x),x)
type(x)

# Changing the data types -> String to Int
print(type(int(x)),x)

# Changing the data types -> Int to Float
print(type(float(x)),x)

<class 'str'> 12
<class 'int'> 12
<class 'float'> 12

In [3]:
# Arithmetic Operators Examples - using integer

var_1 = 20
var_2 = 3

# Output of "+"
print("var1 + var2 :",var_1+var_2)

# Output of "-"
print("var1 - var2 :",var_1-var_2)

# Output of "*"
print("var1 * var2 :",var_1*var_2)

# Output of "/"
print("var1 / var2 :",var_1/var_2)

var1 + var2 : 23
var1 - var2 : 17
var1 * var2 : 60
var1 / var2 : 6.666666666666667

In [4]:
# Arithmetic Operators Examples - using Strings
str1 = "Hey"
str2 = "John"
print(str1+str2)

HeyJohn

In [5]:
# Assignment Operator Examples

#c,d = 30,40                     # c = 30, d = 40, preference for quick coding, not recommended for projects

a = 10
b = 20
v = a+b

# example of "+=", v = v+a
v+=a
print(v)

# example of "*=", v = v*a
v*=a
print(v)

40
400

In [6]:
# Comparison Operators Examples

x = 200
y = 350

# Output: x > y False
print("x > y is: ",x>y)

# Output: x == y
print("x == y is: ",x==y)

# Output: x != y
print("x != y is: ",x!=y)

# Output: x >= y
print("x >= y is: ",x>=y)

x > y is:  False
x == y is:  False
x != y is:  True
x >= y is:  False

In [7]:
# Logical Operators Examples

x = True 
y = False

print('x AND y :',x and y)
print('x OR y :',x or y)
print('NOT x :',not x)

x AND y : False
x OR y : True
NOT x : False

In [8]:
# Membership Operators Examples

x = "I love Python"
y = {1:"computer",2:"programming"}

# Output: False
print("hate" in x)                     # has to be in the same case and order, if not found it will return false

# Output: True
print("Visual Basic" not in x)

# Output: True
print(1 in y)

# Output: False; as-is this checks the key in the dictionary
print('programming' in y.keys())

# Output: True; this will check value "in" dictionary; thanks Bayron
print("computer" in y.values())

False
True
True
False
True

In [9]:
# Special Identity Operators Examples

a1 = 200
b1 = 200
a2 = "Python"
b2 = "Python"
a3 = ["Linux","Windows","Mac"]
b3 = ["Linux","Windows","Mac"]
a4 = b4 = [1,2,3,4]
a5 = b5 = ["John","Bill","Bobby"]

# Location of values in memory
print("a1 in memory :",hex(id(a1)))
print("b1 in memory :",hex(id(b1)))
print("a2 in memory :",hex(id(a2)))
print("b2 in memory :",hex(id(b2)))
print("a3 in memory :",hex(id(a3)))
print("b3 in memory :",hex(id(b3)))
print("a4 in memory :",hex(id(a4)))
print("b4 in memory :",hex(id(b4)))
print("a5 in memory :",hex(id(a5)))
print("b5 in memory :",hex(id(b5)))

print(a1 is b1)
print(a1 is not b1)
print(a2 is b2)
print(a2 is not b2)
print(a3 is b3)
print(a3 is not b3)
print(a4 is b4)
print(a5 is b5)

a1 in memory : 0x56107397f5e0
b1 in memory : 0x56107397f5e0
a2 in memory : 0x7fa052713630
b2 in memory : 0x7fa052713630
a3 in memory : 0x7fa04c405b40
b3 in memory : 0x7fa04c404540
a4 in memory : 0x7fa04c405200
b4 in memory : 0x7fa04c405200
a5 in memory : 0x7fa04c40b880
b5 in memory : 0x7fa04c40b880
True
False
True
False
False
True
True
True

Second Session

In [10]:
# Basic function example

def say_hello():
  print("Hello world")

say_hello()

Hello world

In [11]:
# Basic function example; flow of python's functions and code execution

def sayHi():
  print("Hello user!")

print("Top")
sayHi()
print("Bottom")
print(sayHi)

Top
Hello user!
Bottom
<function sayHi at 0x7fa04cc5f700>

In [12]:
# Basic function example; returning a value

def sayHi1():
  greeting = "Hello world!"
  return greeting

sayHi1()
print(sayHi1())

Hello world!

In [13]:
# Basic function that returns a value

def mltply(num):
  return num*num

mltply(3)
print(mltply(3))

9

In [14]:
# Basic function example that returns a value, stores the result into a separate variable outside the function

def mltply(num):
  return num*num

result = mltply(3)
print(result)
calc = result * .01
result2 = mltply(calc)
print(result2*100)

9
0.8099999999999999

In [15]:
# Call function with a parameter/argument, how the function uses the information

def say_hello(name):
  print("Hello ",name)

say_hello("John")
say_hello("Smith")

Hello  John
Hello  Smith

In [16]:
# Call function, has multiple parameters with values, send arguments and return arguments

def sayhi2(a_param='x',b_param='y'):
  #greeting1 = 'hello {0}'.format(a_param)
  #greeting2 = 'hello {0}'.format(b_param)
  greeting1 = ('hello ' + a_param)
  greeting2 = ('hello ' + b_param)
  return greeting1, greeting2

sayhi2()
print(sayhi2())
print(sayhi2("John"))
print(sayhi2("John","Smith"))
print(sayhi2(b_param="Smith"))
print(sayhi2(a_param="Michael",b_param="Jackson"))
#print(sayhi2(a_param="John","Smith"))             #Tharoon: Python thinks we are passing two values to a_param

('hello x', 'hello y')
('hello John', 'hello y')
('hello John', 'hello Smith')
('hello x', 'hello Smith')
('hello Michael', 'hello Jackson')

In [17]:
#Bayron question
def sayhi2(a_param,b_param='y'):
  #greeting1 = 'hello {0}'.format(a_param)
  #greeting2 = 'hello {0}'.format(b_param)
  greeting1 = ('hello ' + a_param)
  greeting2 = ('hello ' + b_param)
  return greeting1, greeting2

print(sayhi2(a_param="John",b_param="Smith"))

('hello John', 'hello Smith')

In [18]:
# Lambda simple example: from a list of random ints - filter only even numbers, use filter function which takes in a function and a list of arguments
list1 = [1,5,4,6,8,12,24,18,9,17]
list2 = list(filter(lambda x: (x%2 == 0), list1))
print(list2)

[4, 6, 8, 12, 24, 18]

In [19]:
# Function vs Lambda Function -> how to re-write

# STEP1 - normal function
def f(x):
  return 10*x + 5

f(5)
print("Function result is: ",f(5))

Function result is:  55

In [20]:
# STEP2 - repeat the same as a lambda function
lambda x: 10*x+5
#Running lambda by itself - won't necessarily give you any result, need to assign a variable to this lambda function

In [21]:
# STEP3 - in order to use lambda function - we need to give it a name
g = lambda x: 10*x+5
print("Lambda result is: ",g(10))

Lambda result is:  105

In [22]:
# STEP4 - lambda with multiple inputs
# using a strip function that will remove leading or trailing spaces
# using a title function to ensure first letter of each string is capitalized
# 1, separate first and last name with a space

full_name = lambda fname,lname: fname.strip().title() + " " + lname.strip().title()
full_name("    JOHN","smith")

'John Smith'

In [23]:
# Global vs Local Examples

# Accessing Global Variables

a_name = "John"

def print_name():
  print("Name inside the function :",a_name)

print_name()
print("Name outside the function :",a_name)

Name inside the function : John
Name outside the function : John

In [24]:
# Local variable defined and overriding locally
a_name = "John"

def print_name():
  a_name = "Bill"
  print("Name inside the function :",a_name," aka Local Scope Variable")

print_name()
print("Name outside the function :",a_name," aka Global Scope Variable")

Name inside the function : Bill  aka Local Scope Variable
Name outside the function : John  aka Global Scope Variable

In [25]:
# Running without a global variable
def print_name():
  a_name = "Bill"
  print("Name inside the function :",a_name)

print_name()
#print_name("Name outside the function :",a_name)
#Reason1 - no name outside, or not globally defined
#Reason2 - no parameter defined, trying to pass an argument --- won't work

Name inside the function : Bill

In [26]:
# Overriding a global variable (outside) through a function: specifying a global variable inside 

a_name = "John"
print("Name outside the function, before defining a global override in Function :",a_name)

def print_name():
  global a_name
  a_name = "Bill"
  print("Name inside the function: ",a_name)

print_name()
print("Name outside the function, after defining a global override :",a_name)

Name outside the function, before defining a global override in Function : John
Name inside the function:  Bill
Name outside the function, after defining a global override : Bill